 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="about-text">
                    <p>Desarrollador Full Stack. Actualmente desarrollando plugins para Atlassian Server/Cloud y plugins de reglas personalizadas para SonarQube.</p>
                </div>
            </div>
        </div>
    </section>
